# Environment & Configuration
.env
.env.production
.env*.local
config/danbooru_local_config.rb
config/deploy/*.rb
config/application.yml

# Ruby / Bundler
.bundle
.yardoc
vendor/cache/*.gem
vendor/bundle/
vendor/cache/

# Node / Yarn
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Build artifacts
public/assets
/public/vite*
/public/packs*
coverage
doc/*
/uploads/
/public/db_export/
/docker/traefik/acme.json
.vscode/

# Runtime files
/log
tmp/*
tmp/*.jpg
tmp/*.png
public/data
.overmind.sock

# Test output
test/reports

# Editor files
.idea
.DS_Store
.gitconfig
*~
*.swp
*.local

# Extra files
public/.well-known/*
public/nixten/
app/views/nixten/
app/controllers/nixten_controller.rb