// Picker
body {
  a.nav-logo-link { background-image: url("~/images/logo/default.png"); }
  @each $name in ("pride", "ace", "aro", "bi", "french", "gay", "genderfluid", "lesbian", "nonbinary", "omni", "pan", "trans") {
    &[data-th-logo="#{$name}"] a.nav-logo-link { background-image: url("~/images/logo/#{$name}.png"); }
  }

  &[data-th-logo="default"] {
    a.nav-logo-link { background-image: url("~/images/logo/default.png"); }
    &[data-th-main="bloodlust"] a.nav-logo-link { background-image: url("~/images/logo/default.png"); }
    &[data-th-main="pony"] a.nav-logo-link { background-image: url("~/images/logo/default.png"); }
  }
}
