<div id="c-static"><div id="a-discord">
  <% widget_server_id = Danbooru.config.discord_widget_server_id %>
  <% widget_theme = Danbooru.config.discord_widget_theme.presence || "dark" %>
  <% invite_url = Danbooru.config.discord_invite_url %>

  <main>
    <div class="discord-container">
      <h2>Discord Links</h2>

      <% if widget_server_id.present? %>
        <iframe src="https://discord.com/widget?id=<%= CGI.escape(widget_server_id.to_s) %>&amp;theme=<%= CGI.escape(widget_theme.to_s) %>" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        <br>
      <% end %>

      <% if invite_url.present? %>
        <a class="discord-button" href="<%= invite_url %>">Discord</a>
      <% else %>
        <p>Discord invite link is not configured.</p>
      <% end %>
    </div>
  </main>
</div></div>

<% content_for(:secondary_links) do %>
  <% if CurrentUser.is_staff? %>
    <%= subnav_link_to "Wiki Page", show_or_new_wiki_pages_path(title: @page_name) %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  Discord Server
<% end %>
