<div>
  <h4>Reset Password</h4>
  <p>Password reset links are disabled.</p>
  <p>Users must reset their password with username + authenticator code on the reset page.</p>
</div>

<% content_for(:page_title) do %>
  Reset Password - <%= @user.name %>
<% end %>
